//all styling
#login{
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color:#e5e5e5;
}

//this is how we will know it's loading
body{
  background-color: lightblue;
}
