@font-face{
  font-family: Mindcraft;
  src: url(https://dl.dropbox.com/s/2hvsh0hcexm5tao/minecraft_font_by_pwnage_block-d37t6nb.ttf)
}


body{
  font-family: Mindcraft;
}

.header{
  font-size: 25px;
  text-align: center;
  height: 145px;
  width: 100%;
  border-style: solid;
  background-color: lightblue;
  color: white;
}

ul{
  background-color: lightblue;
}

li{
  padding-left: 5px;
  padding-right: 5px;
  color: blue;
  display: inline;
}

