@font-face{
  font-family: Mindcraft;
  src: url((https://dl.dropbox.com/s/2hvsh0hcexm5tao/minecraft_font_by_pwnage_block-d37t6nb.ttf)
}


body{
  font-family: Mindcraft;
}

.header{
  height: 150px;
  width: 100%;
  border-style: solid;
  background-color: lightblue;
  color: white;
}
