body{
  background-color: #e1c4ff
}

#head{
  background-color: #cc99ff;
  padding: 30px;
  text-align: center;
}
h1{
   font-family: Arial, Helvetica, sans-serif;
   color: white;
}
p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #cc99ff;
  padding: 40px;
  height: 400px;
  font-size: 30px;
}
