body{
	margin: 0;
	background-color: #4d0000;
}

*{
	boxing-size: border-box;
	color: white;
}

h2{
	font-size: 2.6em;
	font-family: "Courier New", Courier, monospace;
	font-weight: 900;
}

.bit-1 { width: 12.5% }
.bit-2 { width: 25% }
.bit-3 { width: 37.5% }
.bit-4 { width: 50% }
.bit-5 { width: 62.5% }
.bit-6 { width: 75% }
.bit-7 { width: 87.5% }
.bit-8 { width: 100% }

[class*="bit-"]{
	float: left;
}

[hashtag="title"]{
text-align: center;
}

[hashtag="buttons"]{
text-align: center;
background-color: blueviolet;
}

[hashtag="game"]{
height: 72.5vh;
background-color: black;
}

canvas {
    padding: 0;
    margin: 2.5vh auto auto auto;
    display: block;
    width: 850px;
    background-color: white;
}
