#game{
  border-style: solid;
  padding: 1px;
  margin-left: auto;
  magin-right: auto;
  position: absoulute;
  top: 0;
  left: 0;
  background-image: url("https://dl.dropboxusercontent.com/s/19g5fjp7r6js49g/background.png");
  background-repeat: no-repeat;
}
